<%- include ("partials/header.ejs") %>
<body>
    <%- include ("partials/navbar.ejs") %>
    <div class="container" id="container-display"> 
        <h2>Questions</h2>
        <hr>          
        <% perguntas.forEach(perguntas => { %>
        <div class="card" id="card-index">
            <div class="card body">
                <p><h3><%= perguntas.titulo %></h3></p>
            </div>
            <div class="card-footer">
               <a href="pergunta/<%= perguntas.id %>"><button type="button" class="btn btn-dark">Answer</button></a>        
            </div>           
        </div>
        <%})%>

    </div>
</body>
<%- include ("partials/footer.ejs") %>
